project:
  type: website
  resources:
    - "files/"
  render:
    - "*.qmd"
    - "blog/**/*.md"
    - "!blog/2022/election-maps-2022/index.qmd"
    - "!README.md"
    - "!blog/2025/property-values/index.qmd"
    - "!blog/2025/election/index.qmd"


execute:
  freeze: true

website:
  title: "Jacob Dawang"
  image: files/profile.png
  site-url: "https://www.jacobdawang.com"
  repo-url: "https://github.com/jdawang/website2"
  repo-actions: source
  repo-branch: main
  description: Jacob Dawang's personal website
  favicon: files/favicon.ico
  twitter-card:
    creator: "@jacoobaloo"
  open-graph: true
  cookie-consent: false  # don't have any tracking cookies
  search: true
  navbar:
    left:
      - about.qmd
      - blog.qmd
    right:
      - icon: rss
        href: blog.xml
  page-footer:
    center: |
      {{< fa regular copyright >}} 2025 Jacob Dawang
      {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-sa >}} {{< fa brands creative-commons-nc >}} [(CC BY-NC-SA 4.0)](http://creativecommons.org/licenses/by-nc-sa/4.0/)<br>
      Powered by [Quarto](https://quarto.org/)<br>

format:
  html:
    theme:
      light: [cosmo, custom_styles.scss]
      dark: [cosmo, custom_styles_dark.scss]
    toc: false
    respect-user-color-scheme: true

editor: visual
